html{
    scroll-behavior: smooth;
}

body {
    background-color:#1A1A1B;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.section{
    padding: 0px;
}

.container{
    margin: 0 auto;
    max-width: 1500px;
    height: 600px;
    /*background-color: #ccc; */
}
