html body {
    background-color:#1A1A1B;
    overflow-x: hidden;
}

.section{
    padding: 0px;
}

.container{
    margin: 0 auto;
    max-width: 1500px;
    height: 600px;
    /*background-color: #ccc; */
}

/* rectangle at top for decor */  

.rectangle1{
    position: absolute;
    width: 739.25px;
    height: 38.76px;
    left: -223.46px;
    top: -25.96px;

    background: #FFDAB4;
    transform: rotate(135.5deg);
}

.rectangle2{
    position: absolute;
    width: 739.25px;
    height: 38.76px;
    left: -133.46px;
    top: -25.96px;

    background: #FFDAB4;
    transform: rotate(135.5deg);
}


/* Exceptional Posts Navbar*/

.exceptionalpostsbutton{
    position: absolute;
    right: 469px;
    top: 30px;
    padding: 12px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 5px;

    color: #FFDAB4;
    text-decoration: none;
}

/* Scoial Media Navbar */

.socialmediabutton{
    position: absolute;
    right: 256px;
    top: 30px;
    padding: 12px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 5px;
    
    color: #FFDAB4;
    text-decoration: none;
}

/* Community Navbar */

.communitybutton{
    position: absolute;
    right: 60px;
    top: 30px;
    padding: 12px;
        
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 5px;
        
    color: #FFDAB4;
    text-decoration: none;
}

.girl{
    position: absolute;
    width: 400px;
    height: 638px;
    top: 466px;
    position: absolute;
    left: 65%;
    padding: 0 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    background: url(../public/images/girl.png);
    background-repeat: no-repeat;
}
/* Welcome to r/IndianTeenagers */

.maintext{
    position: relative;
    text-align: left;
    left: 20px;
    top: 440px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 10px;
    
    color: #FFDAB4;
    
}

/* ------------------------ Stats Posts ------------------------ */


.statspost{
    background-color: #FFDAB4;
    align-items: center;
    position: relative;
    border-radius: 10px;
    padding: 36px;
    top: 16px;  

}

.roundedboxviews{
    position: relative;
    width: 36%;
    height: 200px;
    left: 60px;
    top: 75px;

    background: #1A1A1B;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px 50px 0px 0px;

}

.roundedboxmembers{
    position: relative;
    width: 36%;
    height: 200px;
    left: 60px;
    top: 120px;
    
    background: #1A1A1B;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 50px 50px;

}

.maintext1{
    position: relative;
    top: -240px;
    left: 750px;

    font-family: 'Roboto';
    font-style: bold;
    font-weight: 700;
    font-size: 92px;
    line-height: 20px;

    color: #1A1A1B;
}

.members{
    position: absolute;
    align-items: center;
    top: 120px;
    padding-left: 85px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 20px;

    color: #FFDAB4;

}

.views{
    position: absolute; 
    align-items: center;
    top: 360px;
    padding-left: 85px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 20px;

    color: #FFDAB4;

}

/* ------------------------ Excpetional Posts on landing page ------------------------ */

.exceptionalpostsonlandingpage{
    align-items: center;
    position: relative;

}

.maintext3{
    position: relative;
    left: 200px;
    top: -70px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 150px;
    
    color: #FFDAB4;
}