html{
    scroll-behavior: smooth;
}

body {
    background-color:#1A1A1B;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.section{
    padding: 0px;
}

.container{
    margin: 0 auto;
    max-width: 1500px;
    height: 600px;
    /*background-color: #ccc; */
}

/* rectangle at top for decor */  

.rectangle1{
    position: absolute;
    width: 739.25px;
    height: 38.76px;
    left: -223.46px;
    top: -25.96px;

    background: #FFDAB4;
    transform: rotate(135.5deg);
}

.rectangle2{
    position: absolute;
    width: 739.25px;
    height: 38.76px;
    left: -133.46px;
    top: -25.96px;

    background: #FFDAB4;
    transform: rotate(135.5deg);
}


/* Exceptional Posts Navbar*/

.exceptionalpostsbutton{
    position: absolute;
    right: 469px;
    top: 30px;
    padding: 12px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 5px;

    color: #FFDAB4;
    text-decoration: none;
}

/* Scoial Media Navbar */

.socialmediabutton{
    position: absolute;
    right: 256px;
    top: 30px;
    padding: 12px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 5px;
    
    color: #FFDAB4;
    text-decoration: none;
}

/* Community Navbar */

.communitybutton{
    position: absolute;
    right: 60px;
    top: 30px;
    padding: 12px;
        
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 5px;
        
    color: #FFDAB4;
    text-decoration: none;
}

/* Welcome to r/IndianTeenagers */

.maintext{
    position: relative;
    text-align: left;
    left: 25px;
    top: -230px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 10px;
    
    color: #FFDAB4;
    
}

.girl{
    position: relative;
    width: 400px;
    height: 638px;
    top: 137px;
    left: 950px;

    background: url(../public/images/girl.png);
    background-repeat: no-repeat;
}

/* ------------------------ Stats Posts ------------------------ */


.statspost{
    background-color: #FFDAB4;
    align-items: center;
    position: relative;
    border-radius: 10px;
    padding: 36px;
    top: 90px;  

}

.roundedboxviews{
    position: relative;
    width: 560px;
    height: 200px;
    left: 60px;
    top: 75px;

    background: #1A1A1B;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px 50px 0px 0px;

}

.roundedboxmembers{
    position: relative;
    width: 560px;
    height: 200px;
    left: 60px;
    top: 120px;
    
    background: #1A1A1B;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 50px 50px;

}

.maintext1{
    position: relative;
    top: -240px;
    left: 750px;

    font-family: 'Roboto';
    font-style: bold;
    font-weight: 700;
    font-size: 92px;
    line-height: 20px;

    color: #1A1A1B;
}

.members{
    position: absolute;
    align-items: center;
    top: 120px;
    padding-left: 85px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 20px;

    color: #FFDAB4;

}

.views{
    position: absolute; 
    align-items: center;
    top: 360px;
    padding-left: 85px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 20px;

    color: #FFDAB4;

}

/* ------------------------ Excpetional Posts on landing page ------------------------ */

.exceptionalpostsonlandingpage{
    align-items: center;
    position: relative;

}

.maintext3{
    position: relative;
    left: 280px;
    top: 20px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 118px;
    line-height: 120px;
    
    color: #FFDAB4;
}

.exceptionalposts1{
    position: relative;
    width: 400px;
    height: 400px;
    left: 50px;
    top: -40px;

    background: #FFDAB4;
    border-radius: 25px;
}

.exceptionalposts2{
    position: relative;
    width: 400px;
    height: 400px;
    left: 500px;
    top: 0px;

    background: #FFDAB4;
    border-radius: 25px;
}

.exceptionalposts3{
    position: relative;
    width: 400px;
    height: 400px;
    left: 500px;
    top: 0px;

    background: #FFDAB4;
    border-radius: 25px;
}

.exceptionalpostsreadmorebox{
    position: relative;
    width: 1415px;
    height: 97px;
    left: 0px;
    top: 30px;

    background: #FFDAB4;
    border-radius: 25px;
}

.exceptionalpostsreadmoretext{
    position: relative;
    text-decoration: none;
    left: 560px;
    top: 15px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    
    color: #1A1A1B;
}

/* ------------------------ Social Media ------------------------ */
.officialsocialmedialinks{
    position: relative;
    top: 150px;
}
.backgroundforsocialmedia{
    box-sizing: border-box;

    position: relative;
    width: 1520px;
    height: 720px;
    left: 0px;
    top: 0px;
    
    background: url(../public/images/socialbg.png);
    background-repeat: none;
    background-size: cover;
    border: 50px solid #1A1A1B;
    border-radius: 143px;
}

.officialsocialmediatext{
    position: absolute;
    width: 1888px;
    height: 113px;
    left: 30px;
    top: -50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 112px;

    color: #1A1A1B;

}

.twitterblock1{
    position: relative;
    width: 470px;
    height: 170px;
    left: 160px;
    top: 180px;

    background: #1A1A1B;
    border-radius: 15px;
}

.twitterblock2{
    position: relative;
    width: 200px;
    height: 170px;
    left: 0px;
    top: 0px;

    background: #FFDAB4;
    border-radius: 15px 400px 0px 15px;
}

.instagramblock1{
    position: relative;
    width: 470px;
    height: 170px;
    left: 760px;
    top: 10px;

    background: #1A1A1B;
    border-radius: 15px;
}

.instagramblock2{
    position: relative;
    width: 200px;
    height: 170px;
    left: 0px;
    top: 0px;

    background: #FFDAB4;
    border-radius: 15px 400px 0px 15px;
}

.youtubeblock1{
    position: relative;
    width: 470px;
    height: 170px;
    left: 450px;
    top: 60px;

    background: #1A1A1B;
    border-radius: 15px;
}

.youtubeblock2{
    position: relative;
    width: 200px;
    height: 170px;
    left: 0px;
    top: 0px;

    background: #FFDAB4;
    border-radius: 15px 400px 0px 15px;
}

/* ------------------------ Community ------------------------ */

.communitylinks{
    position: relative;
    top: 315px;
}
.backgroundcommunity{
    box-sizing: border-box;

    position: relative;
    width: 1480px;
    height: 650px;
    left: 0px;
    top: 0px;

    background: #FFDAB4;
    border: 40px solid #ffb770;
    border-radius: 172px;
}

.communitytext{
    position: absolute;
    left: 400px;
    top: -80px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 150px;

    color: #1A1A1B;
}

@media (max-width: 1000px) {
    /* rectangle at top for decor */  

    .container{
        margin: 0 auto;
        width: 400px;
        height: 600px;
    }

    .rectangle1{
        position: absolute;
        width: 625px;
        height: 30px;
        left: -223.46px;
        top: -25.96px;

        background: #FFDAB4;
        transform: rotate(135.5deg);
    }

    .rectangle2{
        position: absolute;
        width: 580px;
        height: 30px;
        left: -133.46px;
        top: -25.96px;

        background: #FFDAB4;
        transform: rotate(135.5deg);
    }
    
    /* Exceptional Posts Navbar*/

    .exceptionalpostsbutton{
        position: absolute;
        right: -5px;
        top: 96px;
        padding: 12px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 5px;

        color: #FFDAB4;
        text-decoration: none;
    }

    /* Scoial Media Navbar */

    .socialmediabutton{
        position: absolute;
        right: -5px;
        top: 33px;
        padding: 12px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 5px;
        
        color: #FFDAB4;
        text-decoration: none;
    }

    /* Community Navbar */

    .communitybutton{
        position: absolute;
        right: 7px;
        top: 64px;
        padding: 12px;
            
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 5px;
            
        color: #FFDAB4;
        text-decoration: none;
    }


    /* Welcome to r/IndianTeenagers */

    .maintext{
        position: relative;
        text-align: left;
        left: 20px;
        top: -465px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 10px;
        
        color: #FFDAB4;
        
    }

    .girl{
        position: relative;
        width: 400px;
        height: 638px;
        top: 284px;
        left: -26px;

        background: url(../public/images/girl.png);
        background-repeat: no-repeat;
    }
    /* ------------------------ Stats Posts ------------------------ */


    .statspost{
        background-color: #FFDAB4;
        align-items: center;
        position: relative;
        border-radius: 10px;
        top: 220px;  

    }

    .roundedboxviews{
        position: relative;
        width: 342px;
        height: 150px;
        left: -20px;
        top: 210px;

        background: #1A1A1B;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50px 50px 0px 0px;

    }

    .roundedboxmembers{
        position: relative;
        width: 342px;
        height: 150px;
        left: -20px;
        top: 250px;
        
        background: #1A1A1B;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px 0px 50px 50px;

    }

    .maintext1{
        position: relative;
        top: -285px;
        left: -20px;

        font-family: 'Roboto';
        font-weight: 700;
        font-size: 48px;
        line-height: 10px;

        color: #1A1A1B; 
    }

    .members{
        position: absolute;
        align-items: center;
        top: 235px;
        left: -20px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 20px;

        color: #FFDAB4;

    }

    .views{
        position: absolute; 
        align-items: center;
        top: 435px;
        left: -50px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 20px;

        color: #FFDAB4;

    }

    /* ------------------------ Excpetional Posts on landing page ------------------------ */

    .exceptionalpostsonlandingpage{
        align-items: center;
        position: relative;

    }

    .maintext3{
        position: relative;
        left: -15px;
        top: 200px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 75px;
        text-align: center;
        
        color: #FFDAB4;        
    }

    .exceptionalposts1{
        position: relative;
        width: 340px;
        height: 212px;
        left: 15px;
        top: 160px;

        background: #FFDAB4;
        border-radius: 25px;
    }

    .exceptionalposts2{
        position: relative;
        width: 340px;
        height: 212px;
        left: 0px;
        top: 230px;

        background: #FFDAB4;
        border-radius: 25px;
    }

    .exceptionalposts3{
        position: relative;
        width: 0px;
        height: 0px;
        left: 0px;
        top: 230px;

        background: #FFDAB4;
        border-radius: 25px;
    }

    .exceptionalpostsreadmorebox{
        position: relative;
        width: 340px;
        height: 75px;
        left: 0px;
        top: 250px;

        background: #FFDAB4;
        border-radius: 25px;
    }

    .exceptionalpostsreadmoretext{
        position: relative;
        text-decoration: none;
        left: 70px;
        top: 7px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 64px;
        
        color: #1A1A1B;
    }

    /* ------------------------ Social Media ------------------------ */
    .officialsocialmedialinks{
        position: relative;
        top: 350px;
    }
    .backgroundforsocialmedia{
        box-sizing: border-box;

        position: relative;
        width: 340px;
        height: 700px;
        left: 15px;
        top: 0px;
        
        background: url(../public/images/socialbg.png);
        border: 25px solid #1A1A1B;
        border-radius: 60px;
    }

    .officialsocialmediatext{
        position: absolute;
        width: 188px;
        height: 113px;
        left: 10px;
        top: 10px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 10px;

        color: #1A1A1B;

    }

    .twitterblock1{
        position: relative;
        width: 260px;
        height: 110px;
        left: 10px;
        top: 180px;

        background: #1A1A1B;
        border-radius: 15px;
    }

    .twitterblock2{
        position: relative;
        width: 200px;
        height: 110px;
        left: 0px;
        top: 0px;

        background: #FFDAB4;
        border-radius: 15px 400px 0px 15px;
    }

    .instagramblock1{
        position: relative;
        width: 260px;
        height: 110px;
        left: 10px;
        top: 200px;

        background: #1A1A1B;
        border-radius: 15px;
    }

    .instagramblock2{
        position: relative;
        width: 200px;
        height: 110px;
        left: 0px;
        top: 0px;

        background: #FFDAB4;
        border-radius: 15px 400px 0px 15px;
    }

    .youtubeblock1{
        position: relative;
        width: 260px;
        height: 110px;
        left: 10px;
        top: 220px;

        background: #1A1A1B;
        border-radius: 15px;
    }

    .youtubeblock2{
        position: relative;
        width: 200px;
        height: 110px;
        left: 0px;
        top: 0px;

        background: #FFDAB4;
        border-radius: 15px 400px 0px 15px;
    }

    /* ------------------------ Community ------------------------ */

    .communitylinks{
        position: relative;
        top: 500px;
    }
    .backgroundcommunity{
        box-sizing: border-box;

        position: relative;
        width: 360px;
        height: 650px;
        left: 0px;
        top: 0px;
    
        background: #FFDAB4;
        border: 0px solid #ffb770;
        border-radius: 10px;
    }

    .communitytext{
        position: absolute;
        left: 40px;
        top: -80px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 0px;

        color: #1A1A1B;
    }
}